@import "../../../../styles/colors.scss";

.title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .calendar {
    width: 5rem;
    margin-right: 1rem;
    color: $primaryDark;
    background-color: $white;
  }

  h1 {
    color: $primaryDark;
    font-size: 1.75rem;
  } 
}

.backButton {
  margin-top: 1rem;
}

.answers {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .title {
    h1 {
      font-size: 1.5rem !important;
    }

    .calendar {
      width: 4rem !important;
    }
  }
}