@import "../../styles/colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"] {
  border: 1px solid $primaryLight;
  border-radius: .25rem;
  line-height: 2.5rem;
  padding: 0 1rem;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: .5rem ;
  border: none;
  font-size: 1rem;
  line-height: 3.75rem;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    font-weight: bold;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    border-top: 2.5rem solid $primaryDark;
    padding: 2.5rem 0;

    h1 {
      color: $white;
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  main {
    display: flex;
    justify-content: center;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25rem;
    padding: 2.5rem;
    border-radius: .5rem;
    background-color: $white;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    .inputWrapper {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 1rem;

      input {
        width: 100%;
        padding: 0 2.5rem 0 1rem;
      }

      span {
        position: absolute;
        right: .5rem;
        font-size: .75rem;
        cursor: help;
      }
    }

    button {
      margin-top: 1.5rem;
    }

    .link {
      text-align: center;
      margin-top: 1rem;
    }

    .modalWrapper {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      z-index: 1;
      background-color: $white;
      padding: 2rem;
      border-radius: .5rem;
      box-shadow: 0 1px 3px -1px $black;

      .message {
        text-align: center;
        font-weight: bold;
        color: $primaryLight;
      }
    }
  }

  .footer {
    background-color: $primary;
    height: 2.5rem;
  }
}