@import "../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  border-top: 2.5rem solid $primaryDark;
  padding: 2.5rem 0;

  h1 {
    color: $white;
    margin-top: 1rem;
    font-size: 1rem;
  }
}