@import "../../styles/colors.scss";

.surveyResponse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;

  main {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50rem;
    width: 100%;
    flex-grow: 1;
    padding: 2.5rem;

    &:empty {
      position: relative;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground);
      background-position:
        2.5rem 2.5rem,
        8.5rem 2.5rem,
        8.5rem 4.75rem,
        8.5rem 7rem,
        2.5rem 10.5rem,
        2.5rem 18.5rem,
        2.5rem 26.5rem,
        2.5rem 34.5rem;
      background-size:
        5rem 6rem, 
        calc(100% - 11rem) 1.5rem,
        calc(90% - 11rem) 1.5rem,
        calc(50% - 11rem) 1.5rem,
        calc(100% - 5rem) 7rem,
        calc(100% - 5rem) 7rem,
        calc(100% - 5rem) 7rem,
        calc(100% - 5rem) 7rem;
      overflow: hidden;
      
      &::after {
        animation: shimmer 1.5s infinite;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, transparent, rgba($white, 0.5), transparent);
        transform: translateX(-100%);
      }
    }

    hgroup {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .calendar {
        width: 5rem;
        margin-right: 1rem;
        color: $primaryDark;
        background-color: $white;
      }

      h1 {
        color: $primaryDark;
        font-size: 1.75rem;
      } 
    }

    button {
      margin-top: 1rem;
    }

    .answers {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1rem;
        border-radius: .5rem;
        color: $primaryDark;
        margin-top: 1rem;
        box-shadow: 0 1px 3px -1px $black;

        &.userAnswer {
          box-shadow: 0 0 3px 2px $primaryLight;
        }

        img {
          width: 5rem;
          height: 5rem;
        }
        .answer {
          flex-grow: 1;
          margin: 0 1rem;
          font-size: 1.25rem;
        }
        .percent {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResponse {
    main {
      &:empty {
        background-position:
          2.5rem 2.5rem,
          7.5rem 2.5rem,
          7.5rem 4.75rem,
          7.5rem 7rem,
          2.5rem 10.5rem,
          2.5rem 17.5rem,
          2.5rem 24.5rem,
          2.5rem 31.5rem;
        background-size:
          4rem 6rem, 
          calc(100% - 11rem) 1.5rem,
          calc(90% - 11rem) 1.5rem,
          calc(50% - 11rem) 1.5rem,
          calc(100% - 5rem) 6rem,
          calc(100% - 5rem) 6rem,
          calc(100% - 5rem) 6rem,
          calc(100% - 5rem) 6rem;
      }
    }

    h1 {
      font-size: 1.5rem !important;
    }

    .calendar {
      width: 4rem !important;
    }

    img {
      width: 4rem !important;
      height: 4rem !important;
    }

    .answer {
      font-size: 1rem !important;
    }

    .percent {
      font-size: 1.75rem !important;
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}