@import "../../styles/colors.scss";

.surveyResponse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  main {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50rem;
    width: 100%;
    flex-grow: 1;
    padding: 2.5rem;

    h1 {
      color: $primaryDark;
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    button {
      margin-top: 1rem;
    }

    .answers {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1rem;
        border-radius: .5rem;
        color: $primaryDark;
        margin-top: 1rem;

        &.userAnswer {
          border: 2px solid $primaryLight;
        }

        img {
          width: 5rem;
          height: 5rem;
        }
        .answer {
          flex-grow: 1;
          margin: 0 1rem;
          font-size: 1.25rem;
        }
        .percent {
          font-size: 2rem;
        }
      }
    }

    .loadingWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($white, .8);
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      cursor: wait;

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($black, .9);
        padding: 2rem 4rem;
        border-radius: .5rem;
        

        span {
          color: $white;
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
