@import "../../styles/colors.scss";

.surveyResponse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  main {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50rem;
    width: 100%;
    flex-grow: 1;
    padding: 2.5rem;

    hgroup {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .calendar {
        width: 5rem;
        margin-right: 1rem;
        color: $primaryDark;
        background-color: $white;
      }

      h1 {
        color: $primaryDark;
        font-size: 2rem;
      } 
    }

    button {
      margin-top: 1rem;
    }

    .answers {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1rem;
        border-radius: .5rem;
        color: $primaryDark;
        margin-top: 1rem;
        box-shadow: 0 1px 3px -1px $black;

        &.userAnswer {
          border: 2px solid $primaryLight;
        }

        img {
          width: 5rem;
          height: 5rem;
        }
        .answer {
          flex-grow: 1;
          margin: 0 1rem;
          font-size: 1.25rem;
        }
        .percent {
          font-size: 2rem;
        }
      }
    }
  }
}
