@import "./colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: 1px solid $primaryLight;
  border-radius: .25rem;
  line-height: 2.5rem;
  padding: 0 1rem;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: .5rem ;
  border: none;
  font-size: 1rem;
  line-height: 3.75rem;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    font-weight: bold;
  }
}