@import "../../styles/colors.scss";

header {
  display: flex;
  justify-content: center;
  background-color: $primary;
  border-top: 2.5rem solid $primaryDark;

  &>div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 50rem;
    padding: 1.5rem 2.5rem;

    img {
      width: 5rem;
      align-self: center;
    }

    .profile {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      span {
        font-size: 1.1rem;
        color: $white;
        margin-bottom: .5rem;
      }

      button {
        background: unset;
        line-height: unset;
        padding: unset;
        border-radius: unset;
      }
    }
  }
}