@import "../../styles/colors.scss";

.surveys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    align-items: flex-start;
    max-width: 50rem;
    width: 100%;
    padding: 2.5rem;
    
    h1 {
      color: $primaryDark;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveys {
    main {
      ul {
        flex-direction: column;
      }
    }
  }
}